name: Email on new issue

on:
  issues:
    types: [opened]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          secure: false
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "New issue opened: #${{ github.event.issue.number }}"
          body: |
            Repository: ${{ github.repository }}
            Title: ${{ github.event.issue.title }}
            Author: ${{ github.event.issue.user.login }}
            URL: ${{ github.event.issue.html_url }}
          to: your_email@gmail.com
          from: GitHub Issues Bot <your_email@gmail.com>
